<html>
    <head>
        <title>Handeling post method</title>
    </head>
    <body>
        <form method="POST" action="/index">
            <input type="text" name="name" placeholder="Enter your name">
        </br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>