<html>
    <head>
        <title>this is my website</title>
    </head>
    <head>
        <body>
            <%- include('partials/creator') -%>
            <h1> welcome to profile of : <%= person %></h1>
        </br>
        <p>Age: <%= data.age %></p></br>
        <p>name: <%= data.name %></p>
        </body>
    </head>
</html>